/*    COPYRIGHT»                         QPlug.cz 2017
      DEVELOPERS»                        Hellbyte
      ROOM»                              https://plug.dj/plugdj-czsk

      Akékoľvek kopírovanie tohoto obsahu alebo dokumentu sa bude riešiť s Administrátormi plug.dj!
-     Marvin (xBytez)
-     Dom (Origin)
-     Brett (sinful)
*/

@import url("https://qplugcz.github.io/staff/style.css");
@import url("https://qplugcz.github.io/vip/style.css");

#user-list .list .role-host{
      color: #AC76FF;
}

#user-list .list .role-cohost{
      color: #AC76FF;
}

#user-list .list .role-manager{
      color: #AC76FF;
}

#user-list .list .role-bouncer{
      color: #AC76FF;
}

#user-list .list .role-dj{
      color: #AC76FF;
}

.is-subscriber .name{
      color: #C59840;
}

.is-subscriber.silver .name{
      color: #8694b2;
}

#user-lists .list .user:not(.is-staff) .name{
      color: silver;
}
