/*

COPYRIGHT»                         QPlug.cz 2017
CREATOR»                           Hellbyte
DEVELOPERS»                        Hellbyte
ROOM»                              https://plug.dj/qplug-czsk

*/

#user-lists .list .user.id-3664742:not(.is-staff) .name:before{
content: url("https://qplugcz.github.io/vip/qplug-vip.png")" " !important;
padding-right: 5px;
top: -0.3px;
left: -3px;
position: relative;
}

#user-lists .list .user.id-3664742:not(.is-staff) .name{
left: 17px;
color: #CC5151;
}

/****************************************************************************************************************************/

/* REPI */

[data-cid^="22368924-"] .badge-box .bdg{
background: url("https://vgy.me/gILP7W.gif") !important;
background-position: 0 0;
}

#user-rollover.id-22368924 .badge-box .bdg{
border-radius: 5px !important;
background-image: url("https://vgy.me/gILP7W.gif") !important;
background-repeat: round !important;
background-size: 30px !important;
}

/****************************************************************************************************************************/

/* DerpgonCz*/

[data-cid^="4183729-"] .badge-box .bdg{
background: url("https://qplugcz.github.io/badges/derpgoncz.png") !important;
background-position: 0 0;
}

#user-rollover.id-4183729 .badge-box .bdg{
border-radius: 5px !important;
background-image: url("https://qplugcz.github.io/badges/derpgoncz.png") !important;
background-repeat: round !important;
background-size: 30px !important;
}

/****************************************************************************************************************************/

/*Dave*/

[data-cid^="3431885-"] .badge-box .bdg{
background: url("https://qplugcz.github.io/badges/vip_blue_badge.png") !important;
background-position: 0 0;
}

#user-rollover.id-3431885 .badge-box .bdg{
border-radius: 5px !important;
background-image: url("https://qplugcz.github.io/badges/vip_blue_badge.png") !important;
background-repeat: round !important;
background-size: 30px !important;
}
