#user-lists .list .id-3664742.role-bouncer.is-staff .name{
color: #FF5555 !important;
}

#user-lists .list.room .user.id-3664742 .icon-chat-bouncer{
background: url("http://i.imgur.com/AAY9q08.png") !important;
background-repeat: no-repeat !important;
}


[data-cid^="3664742-"] span.un.clickable{
color: #FF5555 !important;
}

[data-cid^="3664742-"] .msg .from .icon-chat-bouncer{
background: url("http://i.imgur.com/AAY9q08.png") !important;
background-repeat: no-repeat !important;
}
