/*    COPYRIGHT»                         QPlug.cz 2017
      DEVELOPERS»                        Hellbyte
      ROOM»                              https://plug.dj/plugdj-czsk

      Akékoľvek kopírovanie tohoto obsahu alebo dokumentu sa bude riešiť s Administrátormi plug.dj!
-     Marvin (xBytez)
-     Dom (Origin)
-     Brett (sinful)
*/

#user-rollover.id-3664742 .meta{
height: 135px !important;
}

#user-rollover.id-3664742 .meta:before{
position: absolute;
content: "Elitný Bouncer";
color: #808691;
top: 117px;
left: 108px;
cursor: text;
font-weight: 400;
font-size: 12px;
}

#user-lists .list .id-3664742.role-bouncer.is-staff .name{
color: #009CDD !important;
}

#user-lists .list.room .user.id-3664742 .icon-chat-bouncer{
background: url("https://qplugcz.github.io/staff/elitebouncer/qplug-elitebouncer.png") !important;
background-repeat: no-repeat !important;
}

[data-cid^="3664742-"] span.un.clickable{
color: #009CDD !important;
}

[data-cid^="3664742-"] .msg .from .icon-chat-bouncer{
background: url("https://qplugcz.github.io/staff/elitebouncer/qplug-elitebouncer.png") !important;
background-repeat: no-repeat !important;
}
