/*

COPYRIGHT»                         QPlug.cz 2017
CREATOR»                           Hellbyte
DEVELOPERS»                        Hellbyte
ROOM»                              https://plug.dj/qplug-czsk

Akékoľvek kopírovanie tohoto obsahu alebo dokumentu sa bude riešiť s Administrátormi plug.dj!
- Marvin (xBytez)
- Dom (Origin)
- Brett (sinful)

*/

@import url("https://qplugcz.github.io/staff/elitebouncer/style.css");

/* Hellbyte */

[data-cid^="4635487-"] .badge-box .bdg{
background: url("https://hellbyte.github.io/h.png") !important;
background-position: 0 0;
}

#user-rollover.id-4635487 .badge-box .bdg{
border-radius: 5px !important;
background-image: url("https://hellbyte.github.io/h.png") !important;
background-repeat: round !important;
background-size: 30px !important;
}

/****************************************************************************************************************************/

/* QPlug.cz */

#user-rollover.id-23843691 .info .role span{
visibility: hidden;
position: relative;
}

#user-rollover.id-23843691 .info .role span:after{
visibility: visible;
content: "Bot";
position: absolute;
right: 2px;
}

#user-rollover.id-23843691 .info .role i{
position: relative;
left: 33px;
top: 1px;
}

[data-cid^="23843691-"] .msg .from .icon-chat-manager{
visibility: hidden;
}

[data-cid^="23843691-"] span.un.clickable{
position: relative;
left: -20px;
}

[data-cid^="23843691-"] .msg{
border-left: 4px solid #009CDD;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

/****************************************************************************************************************************/

/* Tessi Tess*/

[data-cid^="5477951-"] .badge-box .bdg{
background: url("https://qplugcz.github.io/badges/tessi-tess.png") !important;
background-position: 0 0;
}

#user-rollover.id-5477951 .badge-box .bdg{
border-radius: 5px !important;
background-image: url("https://qplugcz.github.io/badges/tessi-tess.png") !important;
background-repeat: round !important;
background-size: 30px !important;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#user-rollover.id-4635487 .meta,
#user-rollover.id- .meta,
#user-rollover.id- .meta,
#user-rollover.id- .meta,
#user-rollover.id- .meta,
#user-rollover.id- .meta,
#user-rollover.id- .meta{
height: 135px !important;
}

/* MAJITEĽ */
#user-rollover.id-4635487 .meta:before{
position: absolute;
content: "Majiteľ komunity";
color: #808691;
top: 117px;
left: 108px;
cursor: text;
font-weight: 400;
font-size: 12px;
}

/* HLAVNÝ VÝVOJÁR */
#user-rollover.id- .meta:before{
position: absolute;
content: "Hlavný Vývojár";
color: #808691;
top: 117px;
left: 108px;
cursor: text;
font-weight: 400;
font-size: 12px;
}

/* VÝVOJÁR */
#user-rollover.id- .meta:before{
position: absolute;
content: "Vývojár";
color: #808691;
top: 117px;
left: 108px;
cursor: text;
font-weight: 400;
font-size: 12px;
}
